<mat-dialog-content class="modal-player-confirm-cont">
        <div class="modal-grid-container">
            <div class="item1-modal item-modal">
                <img class="img-player-uploaded-modal" [src]="player?.urlImage" alt="img-player-uploaded">
            </div>
            <div class="item2-modal item-modal">
                <div class="data-important-modal">
                    <div class="info-player-modal info-modal">
                        <ul>
                            <li>Apellido : <b>{{player?.surname}}</b></li>
                            <li>Nombre : <b>{{player?.name}}</b></li>
                            <li>Categoria : <b>{{player?.category}}</b></li>
                            <li>Contacto : <b>{{player?.contact}}</b></li>
                            <li>Documento : <b>{{player?.dni}}</b></li>
                            <li>Puesto principal : <b>{{player?.firstPosition}}</b></li>
                            <li>Puesto secundario : <b>{{player?.secondPosition === undefined ? 'ninguno':player?.secondPosition}}</b></li>
                        </ul>
                    </div>
                    <div class="info-visory-modal info-modal">
                        <ul>
                            <li>Fecha : <b>{{player?.dateSeen}}</b></li>
                            @if(player?.timeSeen !== undefined) {
                                <li>Hora : <b>{{player?.timeSeen}}</b></li>
                            }
                            <li>Division/Categoria : <b>{{player?.divisionSeen}}</b></li>
                            <li>Ubicacion : <b>{{player?.ubication}}</b></li>
                            <li>Club : <b>{{player?.teamSeen}}</b></li>
                            <li>Cancha : <b>{{player?.campSeen}}</b></li>
                            <li>Contacto : <b>{{player?.contact}}</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item3-modal item-modal">
                <div class="caract-player-modal">
                    <h2>Caracteristicas</h2>
                    <p>{{player?.characteristics === undefined ? 'Sin caracteristicas especificadas.' : player?.characteristics}}
                    </p>
                </div>
            </div>
            <div class="item4-modal item-modal">
                <div class="btns-modal">
                    <button mat-dialog-close class="btn-confirm btn-modal" (click)="createPlayer()">Confirmar jugador</button>
                    <button mat-dialog-close class="btn-cancel btn-modal">Cancelar</button>
                </div>
            </div>
        </div>
</mat-dialog-content>
    
