<mat-dialog-content color class="modal-clinic-history-cont">

    <div class="cont-main-modal">
        <div class="sub-header-modal">
            <h2>{{titleModal}}</h2>
            <div class="btn-close-cont">
                <img mat-dialog-close src="/assets/images/cancel_96921.svg" alt="img-cancel-svg">
            </div>
        </div>

        <div class="title-date-report-cont">
            <h3 class="title-report">Titulo de el reporte clinico, titulo del reporte clinico</h3>
            <h3 class="date-report">(20-02-2024)</h3>
        </div>
        <div class="report-cont">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem odit soluta voluptatem 
                tempora saepe corporis officiis magnam praesentium, reiciendis et distinctio, eveniet
                magni nostrum at vitae. Eum quis ratione labore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beat
                ae eius nesciunt numquam est perspiciatis inventore? Architecto voluptatum eos quae repr
                ehenderit optio magni impedit, possimus voluptas mol
                litia minus! Distinctio, corrupti incidunt?
            </p>
        </div>
    </div>

</mat-dialog-content>
