<mat-dialog-content color class="modal-edit-photo-cont">

    <div class="cont-main-modal">

        <h2>{{titleAction}} Foto</h2>

        <div class="photo-cont">
            <img class="img-default" src="/assets/images/account_avatar_face_man_people_profile_user_icon_123197.svg" alt="img-account-avatar-default-svg">
        </div>

        <div class="box-upload-image">
            <label class="lbl-player-image" for="playerImage">Subir foto del jugador</label>
        </div>
        <input class="input-player-image" type="file" id="playerImage" accept="image/*">

    </div>

</mat-dialog-content>
