<app-header/>
<div class="body-contain">
    <app-menu-page/>
    <main class="page-main-contain">
        <section class="section-calendar">
            <div class="main-contain">
                <div class="section-title-cont">
                    <h2>Calendario</h2>
                    <p></p>
                </div>
                <div class="calendar-contain">
                    <full-calendar class="calendar-style" [options]='calendarOptions()'></full-calendar>
                </div>
            </div>
        </section>
    </main>
</div>