* {
    font-family: 'Montserrat', sans-serif !important;
    color: white;
}

.body-auth {
    background-image: url("/assets/images/back-page.svg");
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
}

/* cont login/register*/

.login-context {
    width: 35%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-context-title-cont {
    width: 70%;
    height: 12%;
}
.login-context-title-cont h4 {
    font-size:larger;
    margin: 0;
    font-weight: 600;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 50%;
}

label {
    margin-bottom: 2%;
    font-weight: 300;
}

input {
    height: 9%;
    margin-bottom: 5%;
    background-color: #D9D9D9 !important;
    border: none;
    border-radius: 8px;
    color: black;
}

.btn-login {
    margin-top: 5%;
    height: 13%;
    border-radius: 8px;
    background-color: #808080;
    border: #808080;
    cursor: pointer;
    color: #D9D9D9;
    font-weight: 700;
    font-size:100%;
}
.btn-login:hover {
    background-color: #979797;
}

/* cont INFO*/

.info-cont {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside {
    margin-top: 5%;
    height: 65%;
}

.info-title-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.info-title-cont h2 {
    font-size:5vw;
    font-weight: 600;
    margin: 0%;
    margin-bottom: 5%;
}

.info-text-cont {
    width: 100%;
    display: flex;
    justify-content: center;

}
.info-text-cont p {
    width: 70%;
    text-align: center;
    font-size: 1.9vw;
    font-weight: 300;
    line-height: 100%;

}

.btn-contact-cont {
    margin-bottom: 5%;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-contact-cont .btn-contact {
    width: 30%;
    height: 30%;
    border-radius: 8px;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-contact p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size:90%;
}

.btn-contact-cont .btn-contact:hover {
    background-color: #979797;
}