<!--<section class="auth-cont">
    <app-header/>
    <div class="body-auth">

        <main class="login-context">
            <div class="login-context-title-cont">
                <h4>Iniciar sesión</h4>
            </div>
            <form>

                <label for="">Usuario</label>
                <input type="text">

                <label for="">Contraseña</label>
                <input type="password">

                <button [routerLink]="''" class="btn-login">Iniciar sesión</button>

            </form>
            <div>
                <p></p>
            </div>
        </main>

        <div class="info-cont">
            <aside>
                <div class="info-title-cont">
                    <h2>ScoutingPro</h2>
                </div>
                <div class="info-text-cont">
                    <p>
                        es una plataforma diseñada para optimizar la 
                        labor de tu equipo de scouting. Desde un 
                        calendario intuitivo para coordinar las actividades 
                        de los cazatalentos hasta un mapa interactivo que 
                        muestra su distribución geográfica. Capacidad de 
                        gestionar la información de cada fichaje potencial 
                        y lograr un analisis estadistico de los fichajes a lo 
                        largo de los años. Simplificamos el proceso de 
                        descubrir y evaluar talento, potenciando el éxito 
                        de tu club en la búsqueda de futuras 
                        estrellas del fútbol.
                    </p>
                </div>
            </aside>
            <div class="btn-contact-cont">
                <div class="btn-contact"><p>Contactanos</p></div>
            </div>
        </div>

    </div>
</section>
-->
