<mat-dialog-content color class="modal-calendar-cont">

    @if(showEventInfo) {
        <div class="cont-event-existing">
            <div class="sub-header-modal">
                <div class="options-modal-cont">
                    <div class="icon-container icon-edit" (click)="viewEditContext()">
                        <img src="/assets/images/edit_icon-icons.com_61193 (1).svg" alt="edit-event-icon-svg">
                    </div>
                    <div class="icon-container icon-delete" (click)="deleteEvent()">
                        <img src="/assets/images/bin_delete_file_garbage_recycle_remove_trash_icon_123192.svg" alt="delete-event-icon-svg">
                    </div>
                    <div mat-dialog-close='CLOSE' class="icon-container icon-close">
                        <img src="/assets/images/cancel_96921.svg" alt="close-modal-icon-svg">
                    </div>
                </div>
            </div>
            <h2 class="title-event">{{eventCalendarToShow.title}}</h2>
            <p class="date-event"><b>{{eventCalendarToShow.date}}</b></p>
            <p class="description-event">{{eventCalendarToShow.description}}</p>
        </div>
    }
    @else {
        <div class="cont-event-edit">
            <div class="options-modal-cont2">
                <h2 class="title-edit">{{titleAction}} evento</h2>
                <div mat-dialog-close class="icon-container2 icon-close2">
                    <img src="/assets/images/cancel_96921.svg" alt="close-modal-icon-svg">
                </div>
            </div>
            <div class="cont-form">
                <form [formGroup]="formEvent">
                    <label for="title">Titulo</label>
                    <input type="text" formControlName="title">
    
                    <label for="dateInit">Desde</label>
                    <input type="date" formControlName="dateInit">
    
                    <label for="dateEnd">Hasta</label>
                    <input type="date" formControlName="dateEnd">
    
                    <label for="description">Descripcion</label>
                    <textarea formControlName="description"></textarea>
    
                    <div class="form-buttons-cont">
                        <button class="btn-form btn-confirm" [disabled]="formEvent.invalid" (click)="updateEvent()">
                            {{btnAction}}
                        </button>
                        <button class="btn-form btn-cancel" mat-dialog-close>Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    }

</mat-dialog-content>
