<mat-dialog-content color class="modal-users-cont">
    <div class="cont-main-modal">
        <div class="options-modal-cont">
            <h2 class="title-modal">{{titleAction}} usuario</h2>
            <div mat-dialog-close class="icon-container icon-close">
                <img src="/assets/images/cancel_96921.svg" alt="close-modal-icon-svg">
            </div>
        </div>
        <form [formGroup]="formUser">

            <label for="">Nombre de usuario</label>
            <input [readonly]="actionIsUpdate" type="text" formControlName="username">

            <label for="">Email</label>
            <input type="text" formControlName="email">

            <label for="">Apellido</label>
            <input type="text" formControlName="lastName">

            <label for="">Nombre</label>
            <input type="text" formControlName="firstName">

            <label for="">Contraseña</label>
            <input type="password" formControlName="password">

            <label for="">Confirmar contraseña</label>
            <input type="password">
            @if(!actionIsUpdate) {
                <label for="">Rol</label>
                <select name="" id="" formControlName="role">
                    <option value="ADMIN">Administrador</option>
                    <option value="USER">Captador</option>
                </select>
            }

            <div class="btns-form-user">
                <button 
                    class="btn-confirm-user" 
                    mat-dialog-close [disabled]="formUser.invalid" 
                    (click)="createUpdateUser()">
                {{btnAction}}
                </button>
                <button class="btn-cancel-user" mat-dialog-close>Cancelar</button>
            </div>

        </form>
    </div>
</mat-dialog-content>
