<nav class="menu-nav">
    <ul class="menu-ul">
        <li class="menu-li" [routerLink]="'/calendar'">
            <img class="menu-icon-menu" src="assets/images/weekly-calendar-outline-event-interface-symbol_icon-icons.com_73108.svg" alt="icon-calendar-svg">
            <p>Calendario</p>
        </li>
        <li class="menu-li" [routerLink]="'/map'">
            <img class="menu-icon-menu" src="assets/images/map_search_outline_icon_139024.svg" alt="icon-map-svg">
            <p>Mapa</p>
        </li>
        <li class="menu-li" [routerLink]="'/players'">
            <img class="menu-icon-menu" src="assets/images/3844432-magnifier-search-zoom_110300.svg" alt="icon-search-svg">
            <p>Jugadores</p>
        </li>
        <li class="menu-li" [routerLink]="'/users'">
            <img class="menu-icon-menu" src="assets/images/group-of-people-in-a-formation_icon-icons.com_70476.svg" alt="icon-users-svg">
            <p>Usuarios</p>
        </li>
        <li class="menu-li" [routerLink]="'/teams'">
            <img class="menu-icon-menu" src="assets/images/soccer-ball_icon-icons.com_57913.svg" alt="icon-soccer-svg">
            <p>Equipos</p>
        </li>
    </ul>
</nav>
