<header>
    <div class="logo-page-cont">
        <h1 class="logo-page">ScoutingPro</h1>
    </div>
    <div *ngIf="currentUrl !== ''" class="logo-home-cont">
        <img [routerLink]="''" routerLinkActive="router-link-active"  class="logo-home" src="assets/images/home_icon-icons.com_73532.svg" type="img/svg" alt="svg-icon-home">
    </div>
    <div *ngIf="currentUrl !== ''" class="logo-logout-cont">
        <div [routerLink]="'/login'" class="logo-logout">
            <p>Cerrar sesión</p>
        </div>
    </div>
</header>
